<div class="container-fluid">
  <app-header></app-header>
   <!-- IMAGENES DE MOSTRARIO PARA LA PÁGINA DE INICIO-->
  <div class="bg-image">
    <img
      src="assets/productosimagenes/5811-deportes.jpg"
      class="img-fluid w-100"
      style="height: 450px;"
      alt="Sample"
    />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">La competencia es contra ti mismo, no te rindas el dolor es mental</p>
      </div>
    </div>
  </div>
  <!--PRODUCTOS NUEVOS-->
  <div class="col-md-12 pb-3 pt-4">
    <h3>NUEVOS PRODUCTOS</h3>
  </div>
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-4">
      <div class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
          data-mdb-ripple-color="light">
          <img src="https://i.pinimg.com/736x/56/db/ff/56dbff8392b844ee662f265ae56088f3.jpg"
          class="card-img-top" alt="..." />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-start align-items-end h-100">
                <h5><span class="badge bg-primary ms-2">New</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="text-reset">
            <h5 class="card-title mb-3">Product name</h5>
          </a>
          <a href="" class="text-reset">
            <p>Category</p>
          </a>
          <h6 class="mb-3">$61.99</h6>
        </div>
      </div>
    </div>

    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-4">
      <div class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
          data-mdb-ripple-color="light">
          <img src="https://i.imgur.com/kEbNc66.jpeg"
          class="card-img-top" alt="..." />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-start align-items-end h-100">
                <h5><span class="badge bg-success ms-2">Eco</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="text-reset">
            <h5 class="card-title mb-3">Product name</h5>
          </a>
          <a href="" class="text-reset">
            <p>Category</p>
          </a>
          <h6 class="mb-3">$61.99</h6>
        </div>
      </div>
    </div>

    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-4">
      <div class="card">
        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
          <img src="https://i.imgur.com/vDc2F3k.jpeg"
          class="card-img-top" alt="..." />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-start align-items-end h-100">
                <h5><span class="badge bg-danger ms-2">-10%</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="text-reset">
            <h5 class="card-title mb-3">Product name</h5>
          </a>
          <a href="" class="text-reset">
            <p>Category</p>
          </a>
          <h6 class="mb-3">
            <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
          </h6>
        </div>
      </div>
    </div>

    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-4">
      <div class="card">
        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
          <img src="https://i.imgur.com/XlxC4gU.jpeg"
          class="card-img-top" alt="..." />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-start align-items-end h-100">
                <h5><span class="badge bg-danger ms-2">-10%</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="text-reset">
            <h5 class="card-title mb-3">Product name</h5>
          </a>
          <a href="" class="text-reset">
            <p>Category</p>
          </a>
          <h6 class="mb-3">
            <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
