<div class="container-fluid">
  <app-header></app-header>
  <mdb-carousel [controls]="true" [indicators]="true">
    <mdb-carousel-item>
      <img
        src="assets/productosimagenes/slider5.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/productosimagenes/slider4.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/productosimagenes/slider1.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
  </mdb-carousel>
  <section>
    <div class="text-center container py-5">
      <h4 class="mb-3"><strong>PRODUCTOS</strong></h4>
      <!--CATEGORIAS PRODUCTOS-->
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <h3>Categorias</h3>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <ul class="categoria">
            <li class="element" style="color: orange">Todos</li>
            <li class="element">Hombre</li>
            <li class="element">Mujer</li>
            <li class="element">Niño</li>
            <li class="element">Niña</li>
          </ul>
        </div>
      </div>
      <!--CATEGORIAS PRODUCTOS-->
      <!--PRODUCTOS-->
      <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://i.pinimg.com/736x/56/db/ff/56dbff8392b844ee662f265ae56088f3.jpg"
              class="card-img-top" alt="..." />
              <a href="/producto">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="/producto" class="text-reset">
                <h5 class="card-title mb-3">Camiseta deportiva</h5>
              </a>
              <a href="/producto" class="text-reset">
                <p><strong>Categoria: </strong>Runner</p>
              </a>
              <h6 class="mb-3"><strong>Precio: </strong>$61.99</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
