<div class="container-fluid">
  <app-header></app-header>
  <div class="card mt-3 min-vh-100 d-flex flex-column">
    <div class="row mt-4">
      <div class="col-md-12 d-flex justify-content-center">
        <h2>Mis compras</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="card mb-3 w-75 shadow-2-strong">
          <div class="row g-0">
            <div class="col-md-4" style="height: 272px;">
              <img
                src="https://i.imgur.com/kEbNc66.jpeg"
                alt="Trendy Pants and Shoes"
                class="img-fluid object-fit-cover h-100 w-100 rounded-start"

              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Conjunto Deportivo Premium</h5>
                <div class="row">
                  <div class="col-md-4">
                    <strong>Precio:</strong>
                    <span class="text-danger h6 fw-bold"> $59.99</span>
                  </div>
                  <div class="col-md-8">
                    <p class="mb-2"><strong>Categoría:</strong> Ropa Deportiva</p>
                  </div>
                  <div class="col-md-4">
                    <p class="mb-2"><strong>Género:</strong> Unisex</p>
                  </div>
                  <div class="col-md-8">
                    <strong>Estado: </strong>
                    <span class="badge bg-success">En preparación</span>
                  </div>
                  <div class="col-md-4">
                    <p class="mb-2"><strong>Talla: </strong>M</p>
                  </div>
                  <div class="col-md-8">
                    <p class="mb-2"><strong>Fecha de compra: </strong>06/05/2025</p>
                  </div>
                </div>
                <hr>
                <div class="col-md-12 d-flex justify-content-center">
                  <div class="col-md-4">
                    <!-- Botones de Acción -->
                    <div class="d-flex flex-wrap gap-3 mb-4">
                      <button class="btn btn-danger flex-grow-1 py-2">
                        <i class="fas fa-ban me-2"></i>Cancelar compra
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
