<li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
  <button
    class="nav-link dropdown-toggle hidden-arrow"
    id="navbarDropdownMenuLink"
    role="button"
    mdbDropdownToggle
    aria-expanded="false"
    mdbTooltip="Notificaciones"
  >
    <i class="fas fa-bell fa-lg"></i>
    <span class="badge rounded-pill badge-notification bg-danger">12</span>
  </button>
  <ul
    mdbDropdownMenu
    class="dropdown-menu dropdown-menu-end"
    aria-labelledby="navbarDropdownMenuLink"
  >
    <li>
      <p class="dropdown-item" href="#">Producto Camiseta runner en preparación</p>
    </li>
  </ul>
</li>
