/* You can add global styles to this file, and also import other style files */
// MDB SCSS
@use "mdb-angular-ui-kit/assets/scss/mdb.scss";


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
